@import './styles/text.scss';
@import './styles/colors.scss';
@import './styles/backgrounds.scss';
@import './styles//scrollbar.scss';

body {
  padding: 0;
  margin: 0;

  background-color: rgb(71, 109, 111);
}