@import '../../../styles/colors.scss';

.formik-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &__label {
    margin-bottom: 0.5rem;
  }

  &__field {
    color: $dark-color;
    position: relative;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.0625rem solid $dark-color;
    border-radius: 0.25rem;
  }

  &__field:focus {
    outline: none;
    border: 0.1rem solid $dark-color;
    box-shadow: 0 0 0.625rem $light-color;
  }

  &__selector {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 2.75rem;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid $light-color;
    width: calc(100% - 0.65rem);
    z-index: 999;
    overflow: auto;
    max-height: 20rem;
  }

  &__selector_option {
    color: $dark-color;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 1px solid $light-color;
  }

  &__error-message {
    font-size: 1rem;
    color: rgb(255, 45, 45);
    margin-top: 0.5rem;
    font-weight: 500;
    text-shadow: 1px 0 1px $dark-color, 
      0 1px 1px $dark-color, 
      -1px 0 1px $dark-color, 
      0 -1px 1px $dark-color;
  }
}