.main {
  min-height: calc(100vh - 4.31rem);
  width: 100%;
  background-image: url(./fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}