.exercise-desc {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid green;
  border-radius: 1rem;
  margin-bottom: 1rem;

  &__title {
    font-size: 1.25rem;
    // margin-bottom: 1rem;
  }

  &__info {
    margin-top: 1rem;
  }

  &__info > span {
    margin-right: 0.5rem;
  }

  &__check {
    display: flex;
    align-items: center;
  }
}

.exercise-desc:last-child {
  margin-bottom: 0;
}