@import '../../../styles/colors.scss';

.own-words {
  display: flex;
  width: 100%;
  height: calc(100vh - 4.31rem);
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: $dark-color;
  }

  &__container_buttons {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-right: 1.55rem solid transparent;
    border-radius: 0.75rem;
    padding: 1.5rem;
    overflow: auto;
    gap: 1.25rem 0;
  }
}