@import '../../../styles/colors.scss';

.own-words {
  display: flex;
  width: 100%;
  height: calc(100vh - 4.31rem);
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    width: 80rem;
    height: 80rem;
    max-width: 80%;
    max-height: 80%;
    background-color: $dark-color;
  }

  &__container_buttons {
    border-right: 1.55rem solid transparent;
    border-radius: 0.75rem;
    padding: 1.5rem;
  }

  &__container_buttons > button {
    margin-bottom: 1.25rem;
  }

  &__container_buttons > button:last-child {
    margin-bottom: 0rem;
  }

  &__emptiness-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__emptiness-menu_container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__emptiness-menu_arrow {
    height: 3rem;
  }

  &__emptiness-menu_left-arrow {
    height: 3rem;
    margin-right: 1rem;
  }

  &__emptiness-menu_right-arrow {
    height: 3rem;
    margin-left: 1rem;
    transform: scaleX(-1);
  }

  &__emptiness-menu_text {
    // color: $dark-color;
    // color: $normal-color;
    color: $light-color;
    // color: $middle-color;
  }

  &__menu {
    flex-grow: 1;
    padding: 1.5rem;
    overflow: auto;
  }
  
  &__menu_package-name {
    max-width: 30rem;
  }

  &__menu_word-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__menu_word-field_container {
    display: flex;
    flex-basis: 48.5%;
  }

  &__menu_word-field {
    padding: 0.25rem;
    font-size: 1rem;
    border: 0.0625rem solid $dark-color;
    border-radius: 0.25rem;
    flex-grow: 1;
  }

  &__menu_word-field:focus {
    outline: none;
    border: 0.1rem solid $dark-color;
    box-shadow: 0 0 0.625rem $light-color;
  }
  
  &__menu_delete-button {
    margin-left: 0.25rem;
  }
}