.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #291a11;

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__navigation > a {
    margin-right: 1rem;
    opacity: 0.85;
  }

  &__navigation > a:hover {
    opacity: 1;
  }

  &__logo {
    height: 2rem;
  }

  &__authentication {
    display: flex;
    align-items: center;
  }

  &__authentication > * {
    margin-left: 1rem;
  }

  &__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    opacity: 0.85;
    height: 1.6rem;
    width: 2rem;
  }

  &__notification:hover {
    opacity: 1;
  }

  &__notification_picture {
    height: 1.5rem;
  }
  &__notification_picture:hover {
    height: 1.6rem;
  }
}
