.packmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1.5rem;

  &__main-info {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}