.button {
  background-color: transparent;
  border: 0.1rem solid #d5b495;
  padding: 0.625rem;
  border-radius: 0.625rem;
  cursor: pointer;
  color: #d5b495;
  opacity: 0.85;
  font-weight: 500;
  font-size: 1.25rem;
  
  &__filled {
    background-color: #d5b495;
    color: #291a11;
  }
  
  &__filled[disabled] {
    background-color: #8a7662;
    border: 0.1rem solid #8a7662;
  }
}

.button:not([disabled]):hover {
  opacity: 1;
}

.button[disabled] {
  cursor: wait;
}

