@import '../../../styles/colors.scss';

.text-button {
  background-color: transparent;
  border: 0.1rem solid $normal-color;
  padding: 0.625rem;
  border-radius: 0.625rem;
  cursor: pointer;
  color: $normal-color;
  opacity: 0.85;
  font-weight: 500;
  font-size: 1.25rem;
  
  &__filled {
    background-color: $normal-color;
    color: $dark-color;
  }
  
  &__filled[disabled] {
    background-color: $middle-color;
    border: 0.1rem solid $middle-color;
  }
}

.text-button:not([disabled]):hover {
  opacity: 1;
}

.text-button[disabled] {
  cursor: wait;
}

.image-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

  &__picture {
    height: 1.75rem;
  }

  &__add {
    background-color: blue;
  }

  &__delete {
    background-color: red;
    // background-image: url("trash.svg");
    // background-size: cover;
    // background-position: center;  
  }
}

