@import '../../../styles/colors.scss';

.button {
  background-color: transparent;
  border: 0.1rem solid $normal-color;
  padding: 0.625rem;
  border-radius: 0.625rem;
  cursor: pointer;
  color: $normal-color;
  opacity: 0.85;
  font-weight: 500;
  font-size: 1.25rem;
  
  &__filled {
    background-color: $normal-color;
    color: $dark-color;
  }
  
  &__filled[disabled] {
    background-color: $middle-color;
    border: 0.1rem solid $middle-color;
  }
}

.button:not([disabled]):hover {
  opacity: 1;
}

.button[disabled] {
  cursor: wait;
}

