@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './colors.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: $normal-color;
  font-size: 16px;
}

.text_20 {
  font-size: 1.25rem;
  font-weight: 600;
}

.text_14 {
  font-size: 0.875rem;
  font-weight: 600;
}

.text_12 {
  font-size: 0.75rem;
}

a {
  color: $normal-color;
  text-decoration: none;
}