@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.text_14 {
  font-size: 14px;
  font-weight: 600;
}

.text_12 {
  font-size: 12px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}